body{
	font-family: "Courier New", Courier, Monospace; /*Fontes das páginas*/
}

p {
	margin-bottom: 1em; /*separação por linhas*/
	line-height: 1.0; /*espaçamento entre elas*/
}

/* Caixa para o menu */
nav {
  background-color: #f9f9f9;   /* fundo cinza claro */
  border: 1px solid #e0e0e0;   /* borda cinza suave */
  border-radius: 6px;          /* cantos arredondados */
  padding: 4px 8px;           /* espaço interno */
  margin: 25px auto;           /* distância do topo */
  width: fit-content;          /* caixa só do tamanho do conteúdo */
  box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* sombra leve */
}

nav a {
	padding-left:12px; /*espaçamento da esquerda*/
}

nav a:link {
	text-decoration:none;
}

nav a:visited{
	color:black;
	text-decoration:none;
}

nav a:hover{
	text-decoration:underline;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a.active {
	font-weight: bold;
}

li a:hover {
	background-color: #f9f9f9;
}

input[type=text], select {
	width: 35%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 12px;
	box-sizing: border-box;
}

input[type=email], select {
	width: 35%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 12px;
	box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

footer {
	background-color: #777;
	padding: 10px;
	text-align: left;
	color: white;
}

.contact{
	display: center;
	gap: 12px;
}

.field {
	width:35%;
	padding: 8px 12px;
	border: 2px solid #6b7280;
	border-radius: 14px;
	background: #fff;
	color: #0f172a;
}

.field::placeholder {
	color: #6b7280;
}

textarea.field {
	width: 31%; /*Tamanho da caixa de mensagem em largura*/
	min-height: 100px; /*tamanho da caixa de mensagem em altura*/
	resize: none; /*retirando a opção de redimensionar a caixa de mensagem*/
}


.container {
	text-align: center;
	border-radius: 25px;
	background-color: #0000;
	padding: 20px;
}

.texte {
	text-align: center;
}

.btn {
	background-color: #f1f1f1;
}

#h-contato {
	text-align: center;
	font-weight: bold;
}
